---
layout: page
permalink: /categories/
title: Categories
---

{% for category in site.categories %}
<section>
	{% capture category_name %}{{ category | first }}{% endcapture %}
	<div id="#{{ category_name | slugize }}"></div>
	<h3 class="text-center"><a name="{{ category_name | slugize }}" href="{{ site.baseurl }}{{ page.url }}#{{ category_name | slugize }}">
		{{ category_name | capitalize }} Distros
	</a></h3>
	<p>{% include categories/{{ category_name | slugize }}.md %}</p>
	<div class="cards">
	{% for post in site.categories[category_name] %}
		<a href="{{ site.baseurl }}{{ post.url }}" class="card small">
			<img src="{{ site.baseurl }}{{ site.dirs.logos }}{{ post.logo }}.svg">
			<div class="card-text">
				<span>{{ post.title }}</span>
				<small class="category {{ post.category }}">{{ post.category }}</small>
				<small class="read-more">Read more »</small>
			</div>
		</a>
	{% endfor %}
	</div>
</section>
{% endfor %}
